.landing {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slideshow {
  position: absolute;
  inset: 0;
}

.overlay {
  position: absolute;
  z-index: 20;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  color: white;
  font-family: Arial, sans-serif;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
}
