body{
  margin:0;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background:
    linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.05)),
    url('/ui/IMG_0039.jpeg') center/cover no-repeat;
  color:#fff;
}
